machine:
  install:
    disk: "/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi0"
  kubelet:
    extraMounts:
      - destination: /var/mnt/hdd-pool
        type: bind
        source: /var/mnt/hdd-pool
        options:
          - bind
          - rshared
          - rw
      - destination: /var/mnt/ssd-pool
        type: bind
        source: /var/mnt/ssd-pool
        options:
          - bind
          - rshared
          - rw
  disks:
    - device: /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi1
      partitions:
        - mountpoint: /var/mnt/hdd-pool
    - device: /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
      partitions:
        - mountpoint: /var/mnt/ssd-pool
